# Docker Compose Environment Configuration

# General settings
# Set your timezone
TIMEZONE=America/New_York

# User and group identifiers
# User ID
PUID=1000
# Group ID
PGID=1000

# PiHole settings
DNSSEC: "false" # When using unbound, DNSSEC is already used
CUSTOM_CACHE_SIZE: 0 # DNS requests are cached in unbound

# Network settings

# Static IP for Unbound
UNBOUND_IPV4_ADDRESS=10.2.0.100
# Static IP for Pi-hole
PIHOLE_IPV4_ADDRESS=10.2.0.101
# Static IP for Wiregaurd
WG_IPV4_ADDRESS=10.2.0.102

# Wireguard settings
# Your WAN IP, or a Dynamic DNS hostname.
WG_HOST=
# A password to log in on the Web UI.
PASSWORD=

WG_PORT=51820
WG_DEFAULT_ADDRESS=10.3.0.x
WG_DEFAULT_DNS=${PIHOLE_IPV4_ADDRESS}
