# Docker Compose Environment Configuration

# General settings
# # Set your timezone
TZ=America/New_York

# User and group identifiers
# # User ID
PUID=1000
# # Group ID
PGID=1000

# Network settings

# # Static IP for Unbound
UNBOUND_IPV4_ADDRESS=10.2.0.100
# # Static IP for Pi-hole
PIHOLE_IPV4_ADDRESS=10.2.0.101
# # Static IP for WireGuard
WG_IPV4_ADDRESS=10.2.0.102
# # Static IP for Home Assistant
HA_IPV4_ADDRESS=10.2.0.104

# PiHole settings
CUSTOM_CACHE_SIZE=0 # DNS requests are cached in unbound
WEBTHEME=lcars
QUERY_LOGGING=false
WEBPASSWORD=[SET THIS]
PIHOLE_DNS_=unbound
TEMPERATUREUNIT=F
DNSMASQ_LISTENING=single
WEBUIBOXEDLAYOUT=traditional

# WireGuard settings
# # Your WAN IP, or a Dynamic DNS hostname.
WG_HOST=[SET THIS]
# # A password to log in on the Web UI.
PASSWORD=[SET THIS]
# # The public UDP port of your VPN server. WireGuard will always listen on 51820 inside the Docker container.
WG_PORT=51820
# # Clients IP address range.
WG_DEFAULT_ADDRESS=10.3.0.x
# # DNS server clients will use. If set to blank value, clients will not use any DNS.
WG_DEFAULT_DNS=${PIHOLE_IPV4_ADDRESS}
